.button {
  width: 70px;
  height: 30px;
  border: solid 1px dodgerblue;
  border-radius: 5px;
  background-color: #acccea;

  &:hover {
    background-color: blue;
    color: #acccea;
  }

}

.modalWindow:target {
  opacity: 1;
  visibility: visible;
}

.modalWindow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  background-color: #afa9a9a3;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

  &__area {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
  }



  &__body {
    width:500px;
    height: 250px;
    border:solid 1px dodgerblue;
    border-radius: 5px;
    margin: 20% auto;
    padding: 20px;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
  }


  &__closeButton {
    align-self: center;
    a {
      text-decoration: none;
      color: #111;

      &:hover {
        color: #acccea;
      }
    }
  }
}


.errorMessage {
  color: red;
  font-size: 12px;
}

.errorInput {
  border: solid 1px red;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;

  &__wrapper {
    width: 500px;
    height: auto;
    margin:0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

   &__wrapperForm {
    width: 500px;
    height: auto;
    margin:0 auto;
   }

    &__buttonOpen {
      margin-bottom: 10vh;
      a {
        text-decoration: none;
        color: #111;

        &:hover {
          color: #acccea;
        }
      }

  }

}



.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__item {
   display: grid;
   grid-template-columns: 1fr 3fr;
  }


  &__label {
    font-size: 16px;
 }

  &__input {
    height: 20px;
  }

  &__buttonSend {
    margin: 3vh auto;
  }

}


